<div class="alert alert-danger" ng-hide="currentAccount && currentAccount.name">
    There is no active account, Please go to <a href="#/">Accounts</a> Page to Add Account or Set Active Account
</div>

<div ng-show="currentAccount && currentAccount.name">
    <div class="alert alert-info">Current Storage Account is <strong>{{currentAccount.name}}</strong></div>
    
    <div>
        <ol class="breadcrumb">
          <li><a href="javascript:void(0)" ng-click="openFolder('/')">{{currentAccount.name}}</a></li>
          <li ng-repeat="path in pathList">
              <a href="javascript:void(0)" ng-click="openFolder(path.path)">{{path.name}}</a>
          </li>
        </ol>
    </div>

    <div class="loading" style="min-height:100px" ng-show="itemsLoading"></div>
    <div ng-hide="itemsLoading">
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNewFolder">
                        New Folder
                    </button>
                    <button class="btn btn-primary" onclick="$(this).next().click()" ng-disabled="path == '/'">Upload Files...</button>
                    <input type="file" multiple style="display:none" file-selected="fileSelected(files)"/>
                </div>
                
            </div>
            <hr />
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th style="width:25px;"></th>
                        <th>Name</th>
                        <th class="hidden-xs">Date modified</th>
                        <th class="hidden-xs">Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="upload in uploadingList" ng-show="upload.path == path">
                        <td><img style="max-height:25px; max-width:25px" src="{{getIcon(upload)}}" /></td>
                        <td>
                            {{upload.shortName}}
                            
                            <label class="label label-default" ng-show="upload.status == 'pending'">
                                pending upload
                            </label>
                            
                            <span ng-show="upload.status == 'failed'">
                                 <label class="label label-danger">
                                    failed upload
                                </label>
                                &nbsp;
                                <a href="javascript:void(0)" ng-click="retryUpload(upload)">Retry</a>
                                &nbsp;
                                <a  href="javascript:void(0)" ng-click="cancelUpload(upload)">Cancel</a>
                            </span>
                            
                            <div class="progress" ng-show="upload.status =='inProgress'">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{upload.uploadPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{upload.uploadPercentage}}%">
                                    {{upload.uploadPercentage}}%
                                </div>
                            </div>
                        </td>
                        <td class="hidden-xs">{{upload.properties['last-modified']}}</td>
                        <td class="hidden-xs">{{getSize(upload)}}</td>
                    </tr>
                    <tr ng-repeat="item in items">
                        <td><img style="max-height:25px; max-width:25px" src="{{getIcon(item)}}" /></td>
                        <td ng-click="openItem(item)"><a href="javascript:void(0)">{{item.shortName}}</a></td>
                        <td>{{item.properties['last-modified']}}</td>
                        <td>{{getSize(item)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-info" ng-hide="items && items.length > 0">No items in Current Folder</div>
    </div>
</div>

<div class="modal fade" id="modalNewFolder">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Input New Folder Name</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" ng-model="newFolderName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newFolder()">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
