<!-- No Active Account -->
<div class="alert alert-danger" ng-hide="currentAccount && currentAccount.name">
    There is no active account, Please go to <a href="#/">Accounts</a> Page to Add Account or Set Active Account
</div>

<div ng-show="currentAccount && currentAccount.name">
    <div class="alert alert-info">
        <div class="row">
            <div class="col-md-6">Current Storage Account is <strong>{{currentAccount.name}}</strong></div>
            <div class="col-md-6">
                <div class="loading" ng-show="tableLoading"></div>
                <div ng-hide="tableLoading">
                    <form class="form-inline" ng-show="tables && tables.length > 0">
                        <div class="form-group">
                            <label class="hidden-xs">Tables</label>
                            <select class="form-control" ng-model="currentTable" ng-change="tableChange()">
                                <option ng-repeat="t in tables">{{t}}</option>
                            </select>
                        </div>
                    </form>
                    <label class="text-danger" ng-hide="tables && tables.length > 0">No Table in This Storage</label>
                </div>
            </div>
        </div>      
    </div>
    <h3>List of Entities</h3>

    <div class="loading" style="min-height:100px" ng-show="entitiesLoading"></div>
    <div ng-hide="entitiesLoading">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="tableQuery" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <div class="col-sm-6" ng-show="entities && entities.length > 0">
                <button id="table-column-filter" type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom">
                    Column Filter
                </button>
                
                <button class="btn btn-default" ng-click="deleteEntries()" ng-disabled="!hasAnyEntryChecked()">Delete Selected Entities</button>
                
                <div class="pull-right">
                    <button class="btn btn-primary" ng-show="next != null" ng-click="loadEntries(false)">Next Page</button>
                </div>
            </div>

        </div>
        <hr />
        <div ng-show="entities && entities.length > 0" id="table-entries">
            <table class="resizeTable table table-condensed">
                <thead>
                    <tr>
                        <th style="width:20px;"><input type="checkbox" ng-model="entityCheckAll" ng-click="checkAllEntities()" /></th>
                        <th style="min-width:100px;" ng-repeat="col in selectedTableCols">{{col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in entities">
                        <td><input type="checkbox" ng-model="entity.$selected"/></td>
                        <td ng-repeat="col in selectedTableCols">{{entity[col]}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <button class="btn btn-primary" ng-show="next != null" ng-click="loadEntries(false)">Next Page</button>
            </div>
        </div>
        <div class="alert alert-info" ng-hide="entities && entities.length > 0">No Entities in Current Table</div>
    </div>
</div>
