<!-- No Active Account -->
<div class="alert alert-danger" ng-hide="currentAccount && currentAccount.name">
    There is no active account, Please go to <a href="#/">Accounts</a> Page to Add Account or Set Active Account
</div>

<div ng-show="currentAccount && currentAccount.name">
    <div class="alert alert-info">
        <div class="row">
            <div class="col-md-6">Current Storage Account is <strong>{{currentAccount.name}}</strong></div>
            <div class="col-md-6">
                <div class="loading" ng-show="tableLoading"></div>
                <div ng-hide="tableLoading">
                    <form class="form-inline" ng-show="tables && tables.length > 0">
                        <div class="form-group">
                            <label>Tables</label>
                            <select class="form-control" ng-model="currentTable" ng-change="tableChange()">
                                <option ng-repeat="t in tables">{{t}}</option>
                            </select>
                        </div>
                    </form>
                    <label class="text-danger" ng-hide="tables && tables.length > 0">No Table in This Storage</label>
                </div>
            </div>
        </div>      
    </div>
    <h3>List of Entities</h3>

    <div class="loading" style="min-height:100px" ng-show="entitiesLoading"></div>
    <div ng-hide="entitiesLoading">
        <div ng-show="entities && entities.length > 0">
            <div>
                <button id="table-column-filter" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom">
                    Column Filter
                </button>
            </div>
            <table class="resizeTable table table-condensed">
                <thead>
                    <tr>
                        <th ng-repeat="schema in tableSchema">{{schema}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in entities">
                        <td ng-repeat="schema in tableSchema">{{entity[schema]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-info" ng-hide="entities && entities.length > 0">No Entities in Current Table</div>
    </div>
</div>
