body {
    padding-top: 60px;
}

.loading
{
    height: 100%;
    width: 100%;
    background-image: url(/image/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    padding: 4px;
}

table.resizeTable {
    word-break:break-all;
    word-wrap:break-word;
    text-overflow:ellipsis;
}
